$backgroundColor: black;
$mainFont: Roboto;

// Title
.title-div {
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-bottom: 6px;
  margin-right: 35px;
  margin-left: 55px;
}

.title {
  display: "flex";
  font-size: 30px;
  font-family: "DM Serif Display";
  cursor: pointer;
}

// Menu Buttons
.buttonContainer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: start;
}

// Search Bar Icon
.search-icon {
  width: 7px;
  margin-left: 23px;
  color: inherit;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}

// Mobile Features
.mobile-menu-button {
  display: none;
}

.mobile-search-button {
  display: none;
}

.mobile-title {
  display: none;
  font-family: "DM Serif Display";
  font-size: 22px;
}

@media (min-width: 620px) {
  .toolbar {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    height: 60px;
  }
}

@media (max-width: 620px) {
  .toolbar {
    justify-content: space-between;
    //width: "auto";
  }

  .title-div {
    display: none;
    margin: 0;
  }

  .search-bar {
    flex-grow: 1;
  }

  .search-icon {
    display: none;
  }

  .buttonContainer {
    display: none;
    margin: 0;
  }

  // Mobile Features
  /*
  .mobile-search-button {
    display: flex;
    margin: 0px 21px;
    margin-top: 0px;
  }
  */

  .mobile-menu-button {
    display: flex;
    margin: 0px;
    margin-left: 0px;
  }

  /*

  .mobile-title {
    display: flex;
  }
  */
}
