@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Ibarra+Real+Nova|Libre+Baskerville|Lora|Merriweather|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn&display=swap");
@import url("https://rsms.me/inter/inter.css");

.slick-slide,
.slick-slide * {
  outline: none !important;
}

@media (max-width: 620px) {
  $mainFont: "Inter";
  $carouselTitleWeight: 600;
  $carouselTitleSize: 23px;
  $carouselSeeAllWeight: 400;
  $carouselSeeAllSize: 15px;
  $backgroundColor: #212121;

  .wrapper {
    display: none;
  }

  .carousel-container {
    margin-bottom: 0px;
    //overflow: hidden;
  }

  .carousel-header {
    display: flex;
    flex-direction: row; // So header elements align left to right
    justify-content: space-between;
    //padding-bottom: 17px; ----------------
    padding-bottom: 20px;
    padding-right: 17px;
    padding-left: 20px;
    font-family: $mainFont;

    .carousel-title {
      color: white;
      font-size: $carouselTitleSize;
      font-weight: $carouselTitleWeight;
    }

    .carousel-see-all {
      //color: #999999;
      color: gray;
      font-size: $carouselSeeAllSize;
      justify-content: flex-end;
      font-weight: $carouselSeeAllWeight;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  .carousel-item-wrapper {
    padding: 0px;
  }

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 620px) {
  $mainFont: "Inter";
  $carouselTitleWeight: 650;
  $carouselTitleSize: 25px;
  $carouselSeeAllWeight: 300;
  $carouselSeeAllSize: 17px;
  $backgroundColor: #212121;

  .carousel-container {
    margin-bottom: 0px;
    //overflow: hidden;
  }

  .carousel-header {
    display: flex;
    flex-direction: row; // So header elements align left to right
    justify-content: space-between;
    padding-bottom: 35px;
    padding-right: 17px;
    padding-left: 15px;
    font-family: $mainFont;
    //overflow: hidden;

    .carousel-title {
      color: white;
      font-size: $carouselTitleSize;
      font-weight: $carouselTitleWeight;
    }

    .carousel-see-all {
      color: #999999;
      font-size: $carouselSeeAllSize;
      justify-content: flex-end;
      font-weight: $carouselSeeAllWeight;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  .carousel-item-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    //text-align: center;
    //align-items: space-between;
  }

  .carousel-item {
    display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 250px;
    //margin-left: 15px; // Playing with this vs. changing wrapper width
    //margin-right: 15px;
    //height: 100%;
  }

  .mobile-wrapper {
    display: none;
  }
}

@media (min-width: 1024px) {
  $mainFont: "Inter";
  $carouselTitleWeight: 650;
  $carouselTitleSize: 25px;
  $carouselSeeAllWeight: 300;
  $carouselSeeAllSize: 17px;
  $backgroundColor: #212121;

  .carousel-container {
    margin-bottom: 0px;
    //overflow: hidden;
  }

  .carousel-header {
    display: flex;
    flex-direction: row; // So header elements align left to right
    justify-content: space-between;
    padding-bottom: 35px;
    padding-right: 17px;
    padding-left: 15px;
    font-family: $mainFont;
    //overflow: hidden;

    .carousel-title {
      color: white;
      font-size: $carouselTitleSize;
      font-weight: $carouselTitleWeight;
    }

    .carousel-see-all {
      color: #999999;
      font-size: $carouselSeeAllSize;
      justify-content: flex-end;
      font-weight: $carouselSeeAllWeight;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  .carousel-item-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    //text-align: center;
    //align-items: space-between;
  }

  .carousel-item {
    display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 250px;
    //margin-left: 15px; // Playing with this vs. changing wrapper width
    //margin-right: 15px;
    //height: 100%;
  }

  .mobile-wrapper {
    display: none;
  }
}

@media (min-width: 1280px) {
  $background: #0d0d0d;
  $mainFont: "Inter";
  $carouselTitleWeight: 500;
  $carouselTitleSize: 30px;
  $carouselSeeAllWeight: 300;
  $carouselSeeAllSize: 17px;
  $backgroundColor: #212121;

  .carousel-container {
    margin-bottom: 0px;
    //overflow: auto;
  }

  .carousel-header {
    display: flex;
    flex-direction: row; // So header elements align left to right
    justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 35px;
    padding-right: 17px;
    padding-left: 10px;
    font-family: $mainFont;
    //overflow: hidden;

    .carousel-title {
      color: white;
      font-size: $carouselTitleSize;
      font-weight: $carouselTitleWeight;
      cursor: default;
    }

    .carousel-see-all {
      color: #999999;
      font-size: $carouselSeeAllSize;
      justify-content: flex-end;
      font-weight: $carouselSeeAllWeight;
      padding-top: 2px;
      cursor: pointer;
    }
  }

  .carousel-item-wrapper {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    //text-align: center;
    //align-items: space-between;
  }

  .carousel-item {
    display: flex;
    //justify-content: center;
    //align-items: center;
    //height: 250px;
    //margin-left: 15px; // Playing with this vs. changing wrapper width
    //margin-right: 15px;
    //height: 100%;
  }

  .mobile-wrapper {
    display: none;
  }
}
