@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Ibarra+Real+Nova|Libre+Baskerville|Lora|Merriweather|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn&display=swap");
@import url("https://rsms.me/inter/inter.css");
.slick-slide,
.slick-slide * {
  outline: none !important;
}

@media (max-width: 620px) {
  .wrapper {
    display: none;
  }
  .carousel-container {
    margin-bottom: 0px;
  }
  .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
    padding-right: 17px;
    padding-left: 20px;
    font-family: "Inter";
  }
  .carousel-header .carousel-title {
    color: white;
    font-size: 23px;
    font-weight: 600;
  }
  .carousel-header .carousel-see-all {
    color: gray;
    font-size: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 400;
    padding-top: 2px;
    cursor: pointer;
  }
  .carousel-item-wrapper {
    padding: 0px;
  }
  .mobile-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 620px) {
  .carousel-container {
    margin-bottom: 0px;
  }
  .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 35px;
    padding-right: 17px;
    padding-left: 15px;
    font-family: "Inter";
  }
  .carousel-header .carousel-title {
    color: white;
    font-size: 25px;
    font-weight: 650;
  }
  .carousel-header .carousel-see-all {
    color: #999999;
    font-size: 17px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 300;
    padding-top: 2px;
    cursor: pointer;
  }
  .carousel-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-wrapper {
    display: none;
  }
}

@media (min-width: 1024px) {
  .carousel-container {
    margin-bottom: 0px;
  }
  .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 35px;
    padding-right: 17px;
    padding-left: 15px;
    font-family: "Inter";
  }
  .carousel-header .carousel-title {
    color: white;
    font-size: 25px;
    font-weight: 650;
  }
  .carousel-header .carousel-see-all {
    color: #999999;
    font-size: 17px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 300;
    padding-top: 2px;
    cursor: pointer;
  }
  .carousel-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-wrapper {
    display: none;
  }
}

@media (min-width: 1280px) {
  .carousel-container {
    margin-bottom: 0px;
  }
  .carousel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0px;
    margin-bottom: 35px;
    padding-right: 17px;
    padding-left: 10px;
    font-family: "Inter";
  }
  .carousel-header .carousel-title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: default;
  }
  .carousel-header .carousel-see-all {
    color: #999999;
    font-size: 17px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-weight: 300;
    padding-top: 2px;
    cursor: pointer;
  }
  .carousel-item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
  }
  .carousel-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mobile-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=carousel.css.map */