@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Ibarra+Real+Nova|Libre+Baskerville|Lora|Merriweather|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn&display=swap");

.carousel-container {
  margin-bottom: 40px;
}

.carousel-header {
  display: flex;
  flex-direction: row; // So header elements align left to right
  justify-content: space-between;
  padding-bottom: 25px;
  padding-right: 22px;
  padding-left: 17px;
  font-family: Crimson Text;

  .carousel-title {
    color: gainsboro;
    font-size: 22px;
    font-weight: 500;
  }

  .carousel-see-all {
    color: gray;
    font-size: 15px;
    justify-content: flex-end;
    font-weight: 500;
  }
}

.carousel-item-wrapper {
  //
  //padding-left: 14px;
  //padding-right: 11px;
  // For some reason this pushes extra space into "card"
  overflow: hidden;
  display: flex;
  text-align: center;
  //align-items: space-between;
}

.carousel-item {
  display: flex;
  //justify-content: center;
  //align-items: center;
  //height: 250px;
  //margin-left: 15px; // Playing with this vs. changing wrapper width
  //margin-right: 15px;
  //height: 100%;
}

.preview-panel {
  margin-bottom: 60px;

  .header {
    color: white;
    font-family: Roboto;
    //font-size: 32px;
    font-weight: 400;
    pointer-events: none;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    flex-grow: 0;
    //margin-left: 0px;

    .header-title {
      font-size: 20px;
      margin-right: 25px;
      font-weight: 600;
      color: lightgrey;
      //margin-bottom: 10px;
    }
  }
}

.mobile-wrapper {
  display: none;
}
@media (max-width: 620px) {
  .wrapper {
    display: none;
  }
  .carousel-item-wrapper {
    //padding-right: 10px;
  }

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
  }
}
