$background: black;

$mainFont: Roboto;

.root {
  display: flex;
  background: $background;
  flex-direction: column;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    //background-color: $backgroundColor;
    background: transparent;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    overflow: auto;
  }

  .showcase-div {
    //display: flex;
    //background-color: $backgroundColor;
    justify-content: center;
    margin-top: 30px;
    //padding-bottom: 100px;
    max-width: 990px;
    width: 100%;
    overflow: auto;

    //flex-direction: column;
  }
}

@media (max-width: 620px) {
  .root .showcase-div {
    justify-content: start;
  }
}
