$backgroundColor: transparent;
$mainFont: Inter;
$cardHeight: 252px;
$cardWidth: (2/3) * $cardHeight;

@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Ibarra+Real+Nova|Libre+Baskerville|Lora|Merriweather|PT+Serif|Playfair+Display|Source+Serif+Pro|Vollkorn&display=swap");

/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */
@media (max-width: 620px) {
  $mod: 0.58;
  $cardWidth: 32vw;
  $cardHeight: (3/2) * $cardWidth;
  $fontSize: 13px;

  .card-container {
    padding-left: 20px;
    padding-right: 0px;

    div {
      width: $cardWidth;
      background-color: $backgroundColor;
      border: 0px;

      .media {
        height: $cardHeight;
        width: $cardWidth;
        background-color: $backgroundColor;
      }
      .cardText {
        margin-top: 9px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: $backgroundColor;

        .title {
          font-size: $fontSize;
          line-height: 1.2;
          font-family: "Inter";
          color: white;
          font-weight: 600;
        }

        .genres {
          font-size: 12px;
          font-weight: 550;
          margin-top: 1.5px;
          line-height: 1.3;
          color: gray;
        }
      }
    }
  }
}

@media (min-width: 620px) {
  .card-container {
    div {
      // div directly inside card container
      width: $cardWidth;

      .card {
        border-radius: 5.5px;
        background-color: transparent;
      }

      .media {
        height: $cardHeight;
        width: $cardWidth; // Card image
        background-color: transparent; // Figure out how to turn this white or whatever
      }
    }

    .cardText {
      background-color: transparent; // Area
      margin-top: 8px; // Space between text and poster
      display: flex;
      flex-direction: column;

      .title {
        color: white;
        font-family: $mainFont;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.4;
      }

      .genres {
        color: gray;
        font-family: $mainFont;
        font-size: 13px;
        font-weight: 400;
        margin-top: 0px;
      }
    }
  }
}
