@import url("https://rsms.me/inter/inter.css");

$backgroundColor: #0d0d0d;
$mainFont: Inter;
$cardHeight: 13vh;
$cardWidth: (2/3) * $cardHeight;

.mobile-card-container {
  height: $cardHeight;
  width: 100%;
  border-radius: 0;
  margin: 0;
  background-color: $backgroundColor;
}

.mobile-card-div {
  display: flex;
  flex-direction: row;
  max-height: $cardHeight;
  padding: 7px 11px 7px 10px;
  //padding-right: 0px;
  //height: 100%;

  .mobile-card-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: $cardHeight;
    max-width: $cardWidth;

    .mobile-card-img {
      object-fit: contain;
      height: 100%;
      border-radius: 0;
    }
  }

  .mobile-card-text-div {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    max-height: $cardHeight;
    font-size: $cardHeight * 0.14;
    //max-height: 100%;

    $paddingLeft: 0.4em;
    $paddingBottom: 0.18em;

    .mobile-card-title {
      font-family: $mainFont;
      color: white;
      margin: 0%;
      font-size: 90%;
      font-weight: 500;
      padding: $paddingBottom $paddingLeft;
      max-height: 100%;
      max-width: 100%;
      //padding-bottom: 50%;
    }

    .mobile-card-genres {
      //display: none;
      font-family: $mainFont;
      color: rgb(146, 145, 145);
      padding: $paddingBottom $paddingLeft;
      padding-bottom: 0.2em;
      font-size: 85%;
      font-weight: 400;
    }

    .mobile-card-etc {
      font-family: $mainFont;
      color: white;
      padding: $paddingBottom $paddingLeft;
      font-size: 87%;
      font-weight: 400;
      //display: none;
    }

    .mobile-vue-rating-chip {
      //margin-left: 8px;
      padding: 0.15em 0em;
      background-color: #1a1a1a;
      color: lightgreen;
      border-color: #1a1a1a;
      font-size: 93%;
      font-weight: 600;
      height: 1.8em;
      width: 4em;

      .MuiChip-label {
        //margin: 0;
        margin: 0% 10%;
        margin-right: 15%;
        padding: 0;
      }
    }
  }
}

/*
.media {
  height: $cardHeight;
  width: $cardWidth;
  background-color: $backgroundColor;
}

.cardText {
  background-color: $backgroundColor;
  margin-top: 10px;

  .title {
    color: white;
    font-family: $mainFont;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
  }

  .genres {
    color: #9e9e9e;
    font-family: $mainFont;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
  }
}
*/
