.carousel-wrapper {
  //
  margin-left: 25px;
  // For some reason this pushes extra space into "card"
  overflow: hidden;
  //display: flex;
  //justify-content: space-between;
  //align-items: space-between;
}

.carousel-item {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //height: 250px;
  //margin-left: 15px; // Playing with this vs. changing wrapper width
  //margin-right: 15px;
  //height: 100%;
  overflow: hidden;
}
.preview-panel {
  margin-bottom: 60px;

  .header {
    color: white;
    font-family: Roboto;
    //font-size: 32px;
    font-weight: 400;
    pointer-events: none;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    flex-grow: 0;
    //margin-left: 0px;

    .header-title {
      font-size: 20px;
      margin-right: 25px;
      font-weight: 600;
      color: lightgrey;
      //margin-bottom: 10px;
    }
  }
}

.mobile-wrapper {
  display: none;
}
@media (max-width: 620px) {
  .wrapper {
    display: none;
  }
  .carousel-wrapper {
    margin-left: 12px;
  }

  .showcase {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
  }
}
